

<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">Help!</h1>
    <p class="lead blog-description"></p>
  </div>

  <div class="row">

    <div class="col-sm-8 blog-main">
      <div class="blog-post">
        <h2 class="blog-post-title">Navigating Around ZLEEP</h2>
        <p>When viewing in a mobile web browser, the menu dropdown menu
        at the top right of the screen can be used to navigate throughout the site. When using Zleep
        on a display &gt;770 pixels wide, the menu dropdown is augmented with standalone buttons for each application feature.</p></div><!-- /.row -->

        <div class="blog-post">
          <%= image_tag("homeNav.png") %>
        <p>Your next alarm (in chronological order) will be displayed on this screen.
        If no alarms have been set, the "Create Alarm Now!" button will appear; which when pressed, will navigate to the <i>My Alarms</i> page. </p></div><!-- /.row -->
      <div class="blog-post">
          <%= image_tag("alarmNav.png") %>
        The <i>My Alarms</i> page allows users to edit existing alarms and create new alarms using our sleep-science formula for optimal REM sleep. The phone number used by any alarms set on this page is determined by the number stored in the user's <i>Account Settings</i> page. 
        </p>
      </div><!-- /.row -->
      <div class="blog-post">
          <%=  image_tag("musicNav.png") %>
        The <i>Sleepy Jams</i> page is there for you on those sleepless nights. Choose some music from our diverse playlist and set the timer for how long you would like the music to play. When the timer expires playback will stop and you will be fast aZleep! (We hope)
        </p>
      </div><!-- /.row -->
      <div class="blog-post">
          <%=  image_tag("sleep101.png") %>
        The <i>Sleep 101</i> page is a weekly blog bringing you the lastest findings and news in sleep science, often tailored to its use in the Zleep App. Check it out each week to stay in the know!                </p>
      </div><!-- /.row -->
      <div class="blog-post">
          <%=  image_tag("profile.png") %>
        The <i>Account Settings</i> page stores all relevant user date, including the phone number used for alarms.             </p>
      </div><!-- /.row -->

    </div>
