javascript_tag reminders: {}
<!-- myAlarms container -->
<div class="container myAlarms">

  <!-- myAlarms container [body] -->
  <div class="container myAlarms-body">
    <!-- myAlarms container [items]-->
    <div class= "container new-alarm-panel">

      <!--create new form-->
      <div class="form-new-alarm">
        <p id="create-title">Create alarm</p>
        <form class="form-inline" role="form">
          <%= form_for :alarm, url: alarms_path do |f| %>
            <label>I need to</label>
          <div class="form-group select">
            <%= f.select(:alarm_type, options_for_select([ "wakeup", "sleep"], "wakeup"), {},  { :class => 'form-control' } ) %> </div>
          <label >at</label>
          <div class="form-group">
            <%= f.select(:hour_time, options_for_select(('1'..'12').step(1).to_a.map{|s| ["#{s}", s]}), {},  { :class => 'form-control' } ) %> </div>
          <div class="form-group">
            <%= f.select(:minute_time, options_for_select(('01'..'60').step(1).to_a.map{|s| ["#{s}", s]}), {},  { :class => 'form-control' } ) %></div>
          <div class="form-group">
            <%= f.select(:ampm, options_for_select([ "AM", "PM" ], "AM"), {},  { :class => 'form-control' } ) %></div>
           <div class="form-group">
             <button class="btn btn-primary btn-calculate">Calculate times</button> </div>
            <%= f.hidden_field :reminder_hour, :value => 10 %>
          </form>
      <% end %>
      </div> <!-- new-alarm-panel -->
      <br>
      <div id="reminder_times">

      </div>



    </div>
    <div class="alarms">
      <!-- alarm 1 -->
      <table class="alarm-table">
        <tbody>
        <tr>
          <td> <!-- alarm1 -->
            <div class="list-group-item alarm-item">
              <h4 class="list-group-item-heading alarm-item-time
                wakeup">6:30 am</h4>
              <p class="list-group-item-text alarm-item-title">surfing day</p> <p class="list-group-item-text alarm-item-days">
              <small>SUN <span class="day-active">MON</span> TUE
                <span class="day-active">WED</span> THU FRI SAT</small></p>
              <!-- <input type="checkbox" name="my-checkbox" checked>-->
            </div>
          </td>

        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
