<!-- myAlarms container -->
<div class="container myAlarms">

  <!-- myAlarms container [body] -->
  <div class="container myAlarms-body">
    <!-- myAlarms container [items]-->
    <div class= "container new-alarm-panel">

      <!--create new form-->
      <div class="form-new-alarm">
        <p id="create-title">Create alarm</p>
        <form class="form-inline" role="form">
          <%= form_for :alarm, url: alarms_path do |f| %>
            <span style="margin-right:10px;">title:</span>
            <%= f.text_field :title, valeu: 'alarm' %><br>
            <span>I need to</span>
          <div class="form-group select">
            <%= f.select(:alarm_type, options_for_select([ "wakeup", "sleep"], "wakeup"), {},  { :class => 'form-control' } ) %> </div>
          <span >at</span>
          <div class="form-group">
            <div class='input-append bootstrap-timepicker' style='display: inline;'>
              <input id="timepicker"class='dateselect-time input-small timepicker' type='text' data-time='12:45 PM'>
              <span class='add-on'><i class='icon-time glyphicon glyphicon-time'></i></span>
            </div>
          </div>
          <br>
          <!--<button class="btn btn-primary btn-calculate">Calculate times</button> </div> -->
        <%= f.hidden_field :hour_time, :value => 00 %>
        <%= f.hidden_field :minute_time, :value => 00 %>
        <%= f.hidden_field :ampm, :value => 'AM' %>
        <%= f.hidden_field :reminder_hour, :value => 10 %>
      </form>

      <div>repeat: </div>
    <% end %>
    </div> <!-- new-alarm-panel -->
    <br>
    <div id="reminder_times">
    </div>

  </div>
  <div class="alarms">
    <!-- alarm 1 -->
    <table class="alarm-table">
      <tbody>
      <tr>
        <td> <!-- alarm1 -->
          <div class="list-group-item alarm-item">
            <h4 class="list-group-item-heading alarm-item-time
              wakeup">6:30 am</h4>
            <p class="list-group-item-text alarm-item-title">surfing day</p> <p class="list-group-item-text alarm-item-days">
            <small>SUN <span class="day-active">MON</span> TUE
              <span class="day-active">WED</span> THU FRI SAT</small></p>
            <!-- <input type="checkbox" name="my-checkbox" checked>-->
          </div>
        </td>

      </tr>
      </tbody>
    </table>

  </div>
</div>
</div>


<script> 
$('#timepicker').timepicker().on('show.timepicker', function(e) {
    console.log('The time is ' + e.time.value);
    var hour = $(".bootstrap-timepicker-hour").val();
    console.log('The hour is ' + e.time.showInputs);
    console.log('The minute is ' + e.time.minute);
    console.log('The meridian is ' + e.time.meridian);
    });
</script>



