

<!-- myAlarms container -->
<div class="container myAlarms">

  <!-- myAlarms container [body] -->
  <div class="container myAlarms-body">
    <!-- myAlarms container [items]-->

    <!-- dummy data -->
    <div class= "container new-alarm-panel">
      <!--create new form-->
      <div class="form-new-alarm">
        <form class="form-inline" role="form">

          <div class="form-group">
            <label>I need to</label>
          </div>

          <div class="form-group select">
            <%= f.select(:alarm_type, options_for_select([ "wakeup", "sleep"], "wakeup"), {},  { :class => 'form-control' } ) %>
          </div>

          <label >at</label>

          <div class="form-group">
            <div> <%= f.select(:hour_time, options_for_select(('01'..'12').step(1).to_a.map{|s| ["#{s}", s]}), {},  { :class => 'form-control' } ) %> </div>
            <div><%= f.select(:minute_time, options_for_select(('01'..'60').step(1).to_a.map{|s| ["#{s}", s]}), {},  { :class => 'form-control' } ) %></div>
            <div><%= f.select(:ampm, options_for_select([ "AM", "PM" ], "AM"), {},  { :class => 'form-control' } ) %></div>
            <div>  <%= f.submit 'Set Alarm', :class => "btn btn-primary" %></div>
          </div>
          <div class="form-group ">
            <select class="form-control am-pm select ">
              <option value="am">am</option>
              <option value="pm">pm</option>
            </select>
          </div>
        </form>

        <!-- calculate button -->
        <button class="btn btn-calculate" type="submit">Calculate</button>

      </div>


      <br>
      <div class="calculated-times">
        <!-- suggested times in new form-->
        <h4 style="color:#999;">You should try to fall asleep at one of
          the following times:</h4>
        <td>
          <table class="table">
            <tbody class="reminder-method">
            <tr class="reminder-sleep">
              <td class="time">9:30pm</td>
              <td>
                <table> <tbody>
                  <tr> <td>
                      <form role="form" class="reminder-type-form">
                        <label class="checkbox-inline">
                          <input type="checkbox" id="inlineCheckbox1" value="option1"> SMS
                        </label>
                        <label class="checkbox-inline">
                          <input type="checkbox" id="inlineCheckbox2" value="option2"> call
                        </label>
                        <label class="checkbox-inline">
                          <input type="checkbox" id="inlineCheckbox3" value="option3"> email
                      </label>                        </form>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
          </tr></tbody></table>
          <!-- repeat section -->
          <h4 style="color:#999;">repeat: </h4>
          <p class="list-group-item-text alarm-item-days">
          <small>SUN MON <span class="day-active">TUE</span>
            WED <span class="day-active">THU FRI</span> SAT</small></p>
          <br>
          <div><button type="button" class="btn btn-default">Cancel</button>
            <button type="button" class="btn btn-primary">Done</button></div>
        </a>

      </div>
    </div>
    <div class="alarms">
      <!-- alarm 1 -->
      <table class="alarm-table">
        <tbody>
        <tr>
          <td> <!-- alarm1 -->
            <div class="list-group-item alarm-item">
              <h4 class="list-group-item-heading alarm-item-time
                wakeup">6:30 am</h4>
              <p class="list-group-item-text alarm-item-title">surfing day</p> <p class="list-group-item-text alarm-item-days">
              <small>SUN <span class="day-active">MON</span> TUE
                <span class="day-active">WED</span> THU FRI SAT</small></p>
              <!-- <input type="checkbox" name="my-checkbox" checked>-->
            </div>
          </td>

        </tr>
        </tbody>
      </table>

    </div>

