<!DOCTYPE html>
<html lang="en">
    <head>

        <title>Zleep</title>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand title_top" href="#"><b>Zleep</b></a>
                </div>
                <div class="navbar-collapse collapse">
                    <% if user_signed_in? %>

                        <ul class="nav navbar-nav">
                            <li class="<%= 'active' if current_page?(alarm_index_path) %>"><a href="/alarm/index"><span class=" glyphicon
                                        glyphicon-home"></span>&nbsp;home</a></li>
                            <li class="<%= 'active' if current_page?(alarm_myAlarms_path) %>"><a href="/alarm/myAlarms"><span class=" glyphicon
                                        glyphicon-time"></span>&nbsp;myAlarms</a></li>
                            <li class="<%= 'active' if current_page?(alarm_sleepyJams_path) %>"><a href="/alarm/sleepyJams"><span class="glyphicon
                                        glyphicon-music"></span>&nbsp;sleepyJams</a></li>
                            <li class="<%= 'active' if current_page?(alarm_sleep101_path) %>"><a href="/alarm/sleep101"><span class="glyphicon
                                        glyphicon-book"></span>&nbsp;sleep101</a></li>
                        </ul>

                    <% end %>
                    <% if user_signed_in? %>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download"><span class="glyphicon glyphicon-user"> </span>&nbsp;
                                <% if current_user.first_name.nil? || current_user.first_name == 0 || current_user.first_name == "" %>
                                    User
                                <% else %>
                                    <%= current_user.first_name %>
                                <% end %>
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu" aria-labelledby="download">
                                    <li><a href="/users/stats">STATS</a></li>
                                    <li><a href="/users/edit">ACCOUNT SETTINGS</a></li>

                                    <li class="divider"></li>
                                    <li><a href="#">HELP</a></li>
                                    <li><%= link_to('SIGN OUT', destroy_user_session_path, :method => 'delete') %></li>
                                </ul>
                            </li>
                        </ul>
                    <% else %>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download"><span class="glyphicon glyphicon-user"> </span>Welcome<span class="caret"></span></a>
                                <ul class="dropdown-menu" aria-labelledby="download">
                                    <li><a href="/users/sign_in">Sign In</a></li>
                                    <li><a href="/users/sign_up">Create an Account</a></li>
                                    <li><a href="#">What is Zleep?</a></li>
                                </ul>
                            </li>       
                        </ul>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="container main">

            <%= yield %>
        </div>

        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    </body>
</html>
